.customSelect {
  position: relative;
  width: fit-content;
}

.selectHeader {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  height: 25px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;

  font-weight: 400;
  font-size: 12px;
  color: #fff;

  backdrop-filter: blur(10px);
  background: rgba(39, 44, 49, 0.8);
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background: rgba(39, 44, 49, 0.9);
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  min-width: 100%;
}

.option {
  text-align: center;
  padding: 4px 6px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.option:hover {
  background: rgba(255, 255, 255, 0.1);
}
