.playBtn {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 50%;
  position: relative;
}

.playBtn::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 1;
}

.navBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 9999;
  width: calc(100% - 40px);
  max-width: 100vw;
  background:
    linear-gradient(
      180deg,
      rgba(20, 20, 30, 0.55) 0%,
      rgba(20, 20, 30, 0.55) 100%
    ),
    linear-gradient(
      180deg,
      rgba(191, 191, 191, 0.18) 0%,
      rgba(106, 106, 106, 0.18) 100%
    );
  backdrop-filter: blur(24px);
  box-shadow: inset 0 0 14px 0 rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  margin: 0 20px;
  padding: 0px;
  clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 10px
  );
  -webkit-clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 20px
  );
  mask-image: radial-gradient(
    circle 38px at 69px 13px,
    transparent 37px,
    black 34px
  );
  -webkit-mask-image: radial-gradient(
    circle 38px at 64px 13px,
    transparent 37px,
    black 34px
  );
}

.playBtn {
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  box-shadow: transparent;
}

.playBtnFloating {
  position: fixed;
  left: 50px;
  bottom: 45px;
  z-index: 10000;
  transform: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-right: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #fff;
  cursor: pointer;
}

.item p {
  font-weight: 400;
  font-size: 11px;
  margin: 0;
}

.active {
  color: #fff;
}

.active svg {
  fill: #fff;
}

.inactive {
  color: #bdbdbd;
}

.inactive svg {
  fill: #bdbdbd;
  opacity: 0.8;
}
