.header {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name {
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name img {
  width: 16px;
  height: 20px;
}
.name h1 {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav input {
  border-radius: 4px;
  border: 1px solid rgba(231, 246, 255, 0.25);
  outline: none;
  padding-left: 10px;
  width: 295px;
  height: 34px;
  padding-top: 2px;

  backdrop-filter: blur(20px);
  box-shadow: inset 0 0 14px 0 rgba(231, 246, 255, 0.25);
  background: rgba(255, 255, 255, 0.05);

  color: #fff;
}
.stripe {
  margin-top: -7px;
  height: 2px;
  background: linear-gradient(90deg, #6ec7ff 0%, #6ec7ff 50%, #6ec7ff 100%);
  box-shadow:
    0 0 8px #6ec7ff,
    0 0 16px rgba(0, 168, 255, 0.5),
    0 0 24px rgba(0, 168, 255, 0.3);
  border-radius: 1px;
}
.stripe2 {
  margin-top: -7px;
  height: 1px;
  background: rgb(241, 241, 241);
}

.btnRow {
  margin-top: 15px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 375px) {
  .btnRow {
    gap: 6px;
    width: calc(100vw - 40px);
  }
}

@media (max-width: 340px) {
  .btnRow {
    gap: 2px;
    width: calc(100vw - 32px);
  }
}

@media (max-width: 280px) {
  .btnRow {
    gap: 1px;
    width: calc(100vw - 24px);
  }
}
