.actsPage {
  position: relative;
  z-index: 2;
  padding: 20px;
  
}

.customSelect {
  position: relative;
  width: fit-content;
}

.selectHeader {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  height: 25px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;

  font-weight: 400;
  font-size: 14px;
  color: #fff;

  backdrop-filter: blur(10px);
  background: rgba(39, 44, 49, 0.8);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background: rgba(39, 44, 49, 0.9);
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  width: max-content;
}

.option {
  text-align: center;
  padding: 4px 6px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.option:hover {
  background: rgba(255, 255, 255, 0.1);
}

.form {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.streamsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.loading {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 40px;
}

.addActButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  width: 102px;
  height: 37px;
  background: linear-gradient(180deg, #1e90e7 0%, #009cff 100%);
  border-radius: 8px;
  border: 2px solid #58d0ff;
  box-shadow:
    0 0 12px 2px #58d0ff,
    0 2px 16px 0 rgba(0, 174, 255, 0.15);

  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    box-shadow 0.2s,
    background 0.2s;
  outline: none;
  position: relative;
  z-index: 2;
  padding-top: 4px;
}
